<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<% if user_signed_in? %>
    <%= link_to '<button class="btn btn-primary">Go to Dashboars</button>'.html_safe, dashboard_root_path %>
<% end %>