<br />
<div class="jumbotron">
    <h1 class="display-4">Best weather device!</h1>
    <p class="lead">We offer a very light weight and easy to use weather device to keep track of your environment.</p>
    <hr class="my-4">
    <% if user_signed_in? %>
        <%= link_to '<button class="btn btn-primary">Go to Dashboard</button>'.html_safe, dashboard_root_path %>
        <%= link_to '<button class="btn btn-primary">View Devices</button>'.html_safe, view_devices_path %>
    <% else %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-outline-success" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-primary" %>
    <% end %>
</div>
